.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

/* Animates Reacts logo */
@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.Modal {
  background-color: #fff;
  z-index: 10;
  text-align: justify;
  width: 75%;
  margin: 0 auto;
  border: 2px solid black;
  margin-top: 2em;
  padding-left: 60px;
}

.Overlay {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  min-width: 100%;
  min-height: 100%;
  z-index: 999;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.75);
}

.top-btn-grp-filter {
  text-align: left;
}

.add-rule-btn-container {
  text-align: right;
}
.add-rule-btn {
  margin-right: 70px;
}


.table-container {
  padding: 3em;
}
