.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
.ruleTable {
  /*temporary color*/
  /*background-color: blue;*/
  /*padding-left: 90px;*/
}

.td_box {
  /*padding: 10px;*/
  /*border: solid;
  border-width: thin;
  border-color: cornflowerblue;*/
}

.RaisedButtonExampleSimple {
  text-align: left;
  border: solid;
  border-width: thin;
  border-color: green;
  background-color: beige;
}

.RaisedButtonTitle {
    text-align: center;
}

.right-closing-button {
  text-align: right;
}

.Modal {
  background-color: #fff;
  z-index: 999;
  text-align: left;
  width: 75%;
  margin: 0 auto;
  border: 2px solid black;
  margin-top: 2em;
}

.Overlay {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  min-width: 100%;
  min-height: 100%;
  z-index: 999;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.75);
}

.top-btn-grp-filter {
  text-align: left;
}
